"Welcome, <%=@user.name%>!"
<br>
<a class='button' href="/users/<%=@user.id%>/update">update information</a>

<br>
<a class='button' href="/log_out">log_out</a>
<br>
<a class='button' href="/delete/<%=@user.id%>">Delete your account</a> 
